<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/user/showInfo}" th:object="${user}">
    <table>
        <tr>
            <td>User ID: </td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>User's name: </td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Contact's number: </td>
            <td><input type="text" th:field="*{contactNumber}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>